export BOT_TOKEN=""
export PLACEMENT_GUILD_ID=""
export KODERS_GUILD_ID=""
export KNIGHTS_GUILD_ID=""
export USERNAME=""
export PORT=""
export HOST_IP=""
export ORG_NAME=""
export GITHUB_TOKEN=""
export REDMINE_CONTAINER_ID=""
export MARIADB_CONTAINER_ID=""
